<server description="Sample Liberty server">

  <featureManager>
    <feature>jaxrs-2.1</feature>
    <feature>jsonp-1.1</feature>
    <feature>cdi-2.0</feature>
  </featureManager>

  <httpEndpoint httpPort="${system.http.port}" httpsPort="${system.http.port}"
      id="defaultHttpEndpoint" host="*" />

  <webApplication location="inventory.war" contextRoot="/">

  </webApplication>

</server>
